{% extends('base1.html.twig') %}
{% block titre %}

{% endblock %}
{% block body %}
    <div style="text-align: center"><h4>Création d'une invitation au concours national
            à {{ app.session.get('edition').ville }}</h4></div>
    <div>
        Ce formulaire générera un fichier .pdf qui sera automatiquement envoyé par courriel.<br>
        Saisir le nom et le prénom de la personne à inviter.<br>
        Saisir une adresse mail. L'invitation lui sera automatiquement envoyée si c'est son adresse mail.Vous pouvez
        saisir votre propre adresse mail pour recevoir son invitation ou bien votre propre invitation.<br>
        La formule de politesse apparaît uniquement dans le texte du courriel accompagnant l'invitation. L'invitation
        sera en pièce jointe.
    </div>
    {{ form(form) }}

{% endblock %}