{% extends('base1.html.twig') %}
{% block titre %}

{% endblock %}
{% block body %}
    <div style="text-align: center"><h4>Création d'une invitation au concours national
            à {{ app.session.get('edition').ville }}</h4></div>
    <div>
        Ce formulaire générera un fichier .pdf qui sera automatiquement envoyé par courriel en pièce jointe<br>
        Saisir le nom et le prénom de la personne<br>
        Saisir une adresse mail à laquelle sera envoyée l'invitation<br>
        {% if app.user %}
        La formule de politesse apparaît uniquement dans le texte du courriel accompagnant l'invitation.
        {% endif %}
    </div>
    {{ form(form) }}

{% endblock %}