<div class="modal fade" id="modalinfoprof2" tabindex="-1" role="dialog">{# affiche les infos #}
    <div class="modal-dialog" role="document">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="modalinfoprof2Label">Information </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        Pour que le professeur 2 apparaisse dans la liste déroulante, il est indispensable que celui-ci crée d'abord son propre compte olymphys avec le même code uai que le professeur 1.
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>

        </div>
    </div>
</div>