<div class="modal fade" id="modalinfocarousel" tabindex="-1" >{# affiche les infos #}
    <div class="modal-dialog" >

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="modalinfocarouselsLabel">Information </h4>
                <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
               Pour le carousel de l'accueil les dimensions de l'image doivent être dans le rapport L/H=1,15 afin d'éviter un recadrage automatique.

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">OK</button>
            </div>

        </div>
    </div>
</div>