<div class="modal fade" id="modalinfoparrain" tabindex="-1" role="dialog">{# affiche les infos #}
    <div class="modal-dialog" role="document">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="modalinfoparrain">Information </h4>
                <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                Télécharger le fichier de haute définition. La vignette de la page de l'édition sera automatiquement créée.

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">OK</button>
            </div>

        </div>
    </div>
</div>