{# templates/bundles/EasyAdminBunble/detail_autorisations.html.twig #}

<a href="{{ asset('odpf/odpf-archives/32/fichiers/autorisations/'~field.value.fichier) }}" target="_blank">
    {{ field.value.fichier }}
</a>